/*
 * These are the colors for the project
 * 011627- black
 * FDFFFC-white
 * 2EC4B6-teal
 * E71D36-red
 * FF9F1C-orange
 *  */





.grid-container {
    display: grid;
}
h1,h2,h3,h4 {
    font-family: 'Bangers', cursive;
    font-size: 100px

}
p {
font-family: 'Six Caps', sans-serif;
font-size: 3cm
} 
#Landing {
   height:100vh;
    background-image: url("https://images.unsplash.com/photo-1561043433-e622fe868b6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    
}

#landing h1{
    font-size: cm;
    color: #003049;
    text-shadow:2px 2px 5px #fbb13c
}

#landing h3 {
    font-size: 3cm;
    color: #8f2d56
}


#about{
    height: 10px
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ; 
}

#about h2 {
    background-image:url("https://images.unsplash.com/photo-1549413468-075155d755f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
    background-color:lightgoldenrodyellow;
    grid-column: 1/2;
    grid-row: 1/2;
    
}

#about-img{
    height:500px;
    width: 500px;
}

#about-text {
      
}
       



@media (max-width:650px) {
    #landing h1 {
        color:red ;
        font-size: 6.5em;
    }
}

@media (max-width:350px) {
    #landing h1 {
        color:yellow ;
        font-size:3em;
    }
    #landing h3 {
}





